<!DOCTYPE html>
<html>
<head>
<title>{{ aac_site_title }}</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>{{ aac_site_header }}</h1>

{{ aac_site_body }}

<p><em>{{ aac_site_footer }}</em></p>
</body>
</html>
